@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Golbal Styles */

:root {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-c975fe3: #f4f4f4;
  --e-global-color-46e10b7: #030304;
  --e-global-color-335476e: #8176ff;
  --e-global-color-d0a6618: #534d9f;
  --e-global-color-056eebd: #151518;
  --e-global-color-8f64ec5: #1c1b1b;
  --e-global-color-11d43d0: #d4d4d4;
  --e-global-color-da57db1: #6b5eff;
  --e-global-color-eab4dc8: #151330;
  --e-global-color-100af63: #1f1b41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--e-global-color-056eebd);
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* background-color: #151518; */
}

section {
  position: relative;
  z-index: 0;
}

.back-ground-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(
    190deg,
    #8176ff85 0%,
    var(--e-global-color-056eebd) 42%
  );
  opacity: 0.32;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 0;
}

.logo img {
  max-width: 135px;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

a {
  font-size: 0.875rem;
  color: var(--e-global-color-c975fe3);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #d4d4d4;
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2.875rem;
  color: var(--e-global-color-c975fe3);
  font-family: "Montserrat", sans-serif;
  line-height: 1.15em;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  position: relative;
  background-color: transparent;
  z-index: 1;
}

.navbar {
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 5rem;
  /* padding-left: 20px; */
  padding-right: 20px;
  background-color: transparent;
}

.navbar .logo_container {
  display: flex;
}

.navbar .logo_container .mobile {
  display: none;
}

.navbar .logo_container img {
  max-width: 135px;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.navbar .links {
  display: flex;
  gap: 2.5rem;
  background-color: transparent;
  height: 100%;
}

.navbar .links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links li a {
  letter-spacing: 0.6px;
}

.navbar .links .action_button {
  background-color: transparent;
  background-image: linear-gradient(
    60deg,
    #6b5eff 0%,
    var(--e-global-color-335476e) 82%
  );
  border-style: none;
  color: #ffff;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 50px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.navbar .links .action_button:hover {
  background-color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #5849ff 0%, #5849ff 100%);
  color: #f4f4f4;
}

.navbar .links .dropdown_menu {
  position: absolute;
  top: 80%;
  max-height: none;
  background-color: var(--e-global-color-8f64ec5);
  padding: 0.9rem;
  border-radius: 5px;
  min-width: 180px;
  font-weight: 500;
  display: none;
  z-index: 1;
}

.navbar .links .dropdown_menu li {
  display: flex;
  justify-content: start;
  padding: 10px;
}

.navbar .links li > a {
  font-weight: 500;
  letter-spacing: 0.6px;
}

.navbar .links li:hover > a {
  color: var(--e-global-color-335476e);
  transition: 0.4s;
}

.navbar .links li a.active {
  color: var(--e-global-color-335476e);
}

@keyframes animate_down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1em);
  }
}

.dropdown:hover .dropdown_menu {
  display: block;
  animation: animate_down 1s forwards;
}

.dropdown:hover .dropdown_menu li:hover > a {
  color: var(--e-global-color-335476e);
}

.navbar .toggle_btn {
  color: #534d9f;
  display: none;
  cursor: pointer;
}

.navbar .toggle_btn i {
  font-size: 30px;
}

/* SIDEBAR */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 1;
  transition: 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53) 0.4s;
  display: none;
}

.overlay.open-overlay {
  transition: all 0.6s cubic-bezier(0.22, 0.61, 0.24, 1) 0s;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -400px;
  width: 350px;
  height: 100%;
  background-color: var(--e-global-color-8f64ec5);
  z-index: 5;
  transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
  display: none;
}

.sidebar.open-sidebar {
  left: 0;
}

.h_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  font-family: "Work Sans", sans-serif;
}

.sidebar .h_container .logo .mobile {
  max-width: 65px;
  display: none;
}

.sidebar .h_container .logo,
.sidebar .h_container .btn_close {
  display: flex;
}

.sidebar .h_container .btn_close {
  padding: 20px;
}

.sidebar .h_container .btn_close i {
  color: var(--e-global-color-da57db1);
  cursor: pointer;
}

.sidebar .links li {
  padding: 15px 30px;
}

.sidebar .links li > a {
  font-weight: 500;
  letter-spacing: 0.6px;
}

.sidebar .links li:hover > a {
  color: var(--e-global-color-335476e);
  transition: 0.6s;
}

.sidebar .links li a.active {
  color: var(--e-global-color-335476e);
}

.sidebar .links .menu .sub_menu {
  padding-top: 25px;
  display: none;
}

.sidebar .links .menu .sub_menu li {
  padding: 15px 0px 15px 0px;
}

.sidebar .links .menu .sub_menu.open-menu1 {
  display: block;
}

.sidebar .links .menu .sub_menu.open-menu2 {
  display: block;
}

/* HOME BANNER */

#banner .container {
  max-width: 1290px;
  /* min-height: 900px; */
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#banner .container .container_row {
  width: 100%;
  display: flex;
  /* position: absolute; */
}

#banner .container .container_row .content_1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  row-gap: 70px;
  padding: 0px 20px 0px 10px;
  z-index: 1;
  align-self: center;
}

#banner .container .container_row .content_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  padding: 80px 10px 10px 40px;
  z-index: 1;
  align-self: center;
}

#banner .container .container_row .content_1 .title h1 {
  line-height: 1em;
  font-weight: 600;
  color: var(--e-global-color-c975fe3);
}

#banner .container .container_row .content_1 .title h1:hover > span {
  color: var(--e-global-color-46e10b7);
  display: inline-block;
  transition: all 0.6s ease;
}

#banner .container .container_row .content_1 .title h1 span {
  color: var(--e-global-color-335476e);
  font-weight: 700;
  transition: all 0.7s ease-out;
}

#banner .container .container_row .content_1 > p {
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 300;
}

#banner .container .container_row .content_1 .two_button {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* background-color: #030304; */
  width: 100%;
}

#banner .container .container_row .content_2 img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

@keyframes pie-float {
  100% {
    transform: translateY(-8px);
  }
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

#banner .container .container_row .content_2 .pie {
  position: absolute;
  top: 1%;
  right: 10%;
  max-width: 265px;
  display: inline-block;
}

#banner .container .container_row .content_2 .pie:hover > img {
  animation-name: pie-float;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

#banner .container .container_row .content_1 .two_button a {
  color: var(--e-global-color-c975fe3);
  font-family: "Work Sans", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 50px 50px 50px 50px;
  background-color: transparent;
  background-image: linear-gradient(
    30deg,
    #6b5eff 0%,
    var(--e-global-color-335476e) 51%
  );
  padding: 18px 28px 18px 28px;
}

#banner .container .container_row .content_1 .two_button .btn2 {
  background-image: none;
}

#banner .container .container_row .content_1 .two_button .btn2:hover {
  color: var(--e-global-color-335476e);
}

#banner .container .container_row .content_2 .btn_cont {
  position: absolute;
  width: fit-content;
  top: 79%;
  margin: 0px 0px 0px -65px;
}

#banner .container .container_row .content_2 .btn_cont .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(210deg, #2e2c47 0%, #202020 20%);
  padding: 15px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #f5f5f5;
  border-radius: 50px 50px 50px 50px;
  width: fit-content;
}

#banner .container .container_row .content_2 .btn_cont .btn i {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 10px 15px 10px 15px;
  background-color: var(--e-global-color-335476e);
  color: var(--e-global-color-c975fe3);
  margin-right: 15px;
}

#banner .container .container_row .content_2 .btn_cont .btn h3 {
  color: var(--e-global-color-335476e);
  font-family: "Montserrat", Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  transition: all 0.6s ease;
}

#banner .container .container_row .content_2 .btn_cont .btn:hover > h3 {
  color: var(--e-global-color-d0a6618);
  transition: all 0.6s ease-out;
}

/* PARTNER */

#partners .container {
  display: flex;
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  25% {
    /* Pause at the initial position for 2 seconds (assuming the total animation duration is 8 seconds) */
    transform: translateX(0%);
  }
  50% {
    /* Move to the left by their combined width */
    transform: translateX(100%);
  }
  75% {
    /* Pause at the left position for 2 seconds */
    transform: translateX(100%);
  }
  100% {
    /* Move back to the original position */
    transform: translateX(0%);
  }
}

#partners .container .partner__slider {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-end;
}

#partners .container .partner__slider .slide {
  flex: 0 0 auto;
  width: 25%;
  position: relative;
}

#partners .container .partner__slider .slide img {
  position: relative;
  display: flex;
  padding: 25%;
  width: 100%;
  animation: scroll 6s linear infinite;
}

/* PROMOTIONS */
#promotions .container__promotions {
  max-width: 1290px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 80px 0px;
}

#promotions .container__promotions .container__contents {
  display: flex;
  width: 100%;
}

#promotions .container__promotions .container__contents .content__1 img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#promotions .container__promotions .container__contents .content__1 {
  width: 50%;
  padding: 0px 20px 0px 10px;
  position: relative;
  align-self: center;
}

#promotions .container__promotions .container__contents .content__2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 50px;
  font-weight: 300;
  gap: 30px;
}

#promotions .container__promotions .container__contents .content__2 h2 {
  line-height: 1.15em;
  font-weight: 600;
  color: var(--e-global-color-c975fe3);
}

#promotions
  .container__promotions
  .container__contents
  .content__2
  .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: var(--e-global-color-c975fe3);
}

#promotions
  .container__promotions
  .container__contents
  .content__2
  .description
  .description__text
  h3 {
  color: var(--e-global-color-335476e);
  margin: 10px 0px;
  font-weight: 600;
}

#promotions
  .container__promotions
  .container__contents
  .content__2
  .description
  .icon
  img {
  width: 6.5rem;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--e-global-color-335476e);
  color: var(--e-global-color-c975fe3);
  box-shadow: 0px 3px 10px 0px
    rgba(68.3958987144081, 59.37432065217392, 162, 0.69);
}

#promotions
  .container__promotions
  .container__contents
  .content__2
  .description
  .icon
  img:hover {
  transform: scale(1.2);
}

/* MERCHANTS */

#merchants .container__merchants {
  max-width: 1290px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 80px 0px;
}

#merchants .container__merchants .container__contents {
  display: flex;
  width: 100%;
}

#merchants .container__merchants .container__contents .content__1 {
  width: 50%;
  padding: 0px 120px 0px 0px;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#merchants .container__merchants .container__contents .content__1 .btn_cont {
  display: flex;
}

#merchants .container__merchants .container__contents .content__1 .btn_cont a {
  color: var(--e-global-color-c975fe3);
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 50px 50px 50px 50px;
  background-color: transparent;
  background-image: linear-gradient(
    30deg,
    #6b5eff 0%,
    var(--e-global-color-335476e) 51%
  );
  padding: 18px 28px 18px 28px;
}

#merchants
  .container__merchants
  .container__contents
  .content__1
  .btn_cont
  a:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #5849ff 0%, #5849ff 100%);
}

#merchants .container__merchants .container__contents .content__2 {
  width: 50%;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
}

#merchants .container__merchants .container__contents .content__2 .shape-img {
  background-image: url(/assets/images/merchant-woman.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #030304;
}

#merchants .container__merchants .container__contents .content__2 img {
  height: auto;
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
}

#merchants .container__merchants .container__contents .content__2 .bar {
  position: absolute;
  top: 60%;
  left: -20px;
  max-width: 265px;
  display: inline-block;
}

#merchants .container__merchants .container__contents .content__2 .icons {
  position: absolute;
  top: 0%;
  right: 0;
  max-width: 305px;
  display: inline-block;
}

#merchants
  .container__merchants
  .container__contents
  .content__2
  .bar:hover
  > img,
#merchants
  .container__merchants
  .container__contents
  .content__2
  .icons:hover
  > img {
  animation-name: pie-float;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  /* HEADER */
  .navbar .logo_container .mobile {
    display: block;
    max-width: 65px;
  }
  .navbar .logo_container .web {
    display: none;
  }

  /* SIDEBAR */

  .sidebar .h_container {
    padding: 20px 30px;
  }

  .sidebar .h_container .logo .mobile {
    display: block;
    max-width: 80px;
  }

  .sidebar .h_container .logo .web {
    display: none;
  }

  /* BANNER */

  #banner .container .container_row .content_1 {
    row-gap: 50px;
    padding: 20px 20px 20px 20px;
  }

  #banner .container .container_row .content_2 {
    padding-top: 80px !important;
  }

  #banner .container .container_row .content_2 .pie,
  #banner .container .container_row .content_2 .btn_cont .btn {
    display: none;
  }

  #banner .container .container_row .content_2 img {
    width: 100% !important;
  }

  #banner .container .container_row .content_1 .title h1 {
    font-size: 2.5rem !important;
  }

  #banner .container .container_row .content_1 > p {
    font-size: 1rem;
  }

  #banner .container .container_row .content_1 .two_button {
    flex-direction: column;
  }

  #banner .container .container_row .content_1 .two_button .btn1,
  #banner .container .container_row .content_1 .two_button .btn2 {
    width: 100% !important;
  }

  /* PROMOTION */

  #promotions .container__promotions .container__contents .content__2 h2 {
    font-size: 1.875rem;
  }

  #promotions .container__promotions .container__contents .content__2 p {
    font-size: 0.875rem;
  }

  /* MERCHANTS */

  #merchants .container__merchants {
    padding: 0px;
  }

  #merchants .container__merchants .container__contents .content__1 {
    padding-right: 0px;
  }

  #merchants .container__merchants .container__contents .content__1 h2 {
    font-size: 1.875rem;
  }

  #merchants .container__merchants .container__contents .content__1 p {
    font-size: 0.875rem;
  }

  #merchants .container__merchants .container__contents .content__2 .bar,
  #merchants .container__merchants .container__contents .content__2 .icons {
    display: none;
  }

  #merchants .container__merchants .container__contents {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 1024px) {
  /* HEADER */

  .navbar {
    padding: 10px 20px;
  }

  .navbar .toggle_btn {
    display: block;
    padding: 8px;
    width: 45px;
  }

  .navbar .links {
    display: none;
  }

  /* SIDEBAR */

  .overlay {
    display: block;
  }

  .sidebar {
    display: block;
  }

  .sidebar .links {
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--e-global-color-8f64ec5);
    height: 80%;
  }

  .sidebar .links .menu a span i {
    border: 1px solid white;
    border-radius: 20px;
    width: 2.5rem;
    padding: 2px;
    margin-left: 10px;
    text-align: center;
  }

  /* BANNER */
  #banner .container .container_row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  #banner .container .container_row .content_1 .title h1 {
    font-size: 2.875rem;
  }

  #banner .container .container_row .content_1 {
    padding-bottom: 40px;
  }

  #banner .container .container_row .content_1,
  #banner .container .container_row .content_2 {
    width: 100%;
  }

  #banner .container .container_row .content_2 {
    padding-top: 0px;
  }

  #banner .container .container_row .content_2 img {
    width: 70%;
    margin: auto;
  }

  #banner .container .container_row .content_2 .btn_cont {
    margin: 0px;
    top: 45%;
    left: 20px;
    width: fit-content;
    display: inline-block;
  }

  #banner .container .container_row .content_1 .two_button .btn1,
  #banner .container .container_row .content_1 .two_button .btn2 {
    width: 50%;
    text-align: center;
  }

  /* PROMOTIONS */

  #promotions .container__promotions {
    padding: 0px;
  }

  #promotions .container__promotions .container__contents {
    flex-direction: column;
    padding: 80px 20px 60px 20px;
  }

  #promotions .container__promotions .container__contents .content__1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #promotions .container__promotions .container__contents .content__1 img {
    width: 80%;
  }

  #promotions .container__promotions .container__contents .content__2 {
    padding: 0px;
  }

  #promotions .container__promotions .container__contents .content__1,
  #promotions .container__promotions .container__contents .content__2 {
    width: 100%;
    justify-content: center;
  }

  #promotions
    .container__promotions
    .container__contents
    .content__2
    .description {
    width: fit-content;
    padding: 10px;
  }

  #promotions .container__promotions {
    padding-top: 40px;
  }

  #promotions .container__promotions .container__contents {
    padding-top: 0px !important;
  }

  /* MERCHANTS */

  #merchants .container__merchants .container__contents {
    flex-direction: column;
    padding: 30px 20px 60px 20px;
  }

  #merchants .container__merchants .container__contents .content__1 {
    width: 100%;
  }
  #merchants .container__merchants .container__contents .content__2 {
    width: 100%;
  }
}
