<section id="newsletters">
  <div class="newsletter__container">
    <div class="newsletter__content">
      <div class="newsletter__overlay"></div>
      <div class="newsletter__content1">
        <h2>Keep Updated About Our Product</h2>
      </div>
      <div class="newsletter__content2">
        <form class="newsletter__form" action="POST">
          <input
            class="newsletter__input"
            type="email"
            placeholder="Your email address"
          />
          <button class="newsletter__button" type="submit">SUMBIT</button>
        </form>
      </div>
    </div>
  </div>
</section>
